@import url('https://fonts.google.com/specimen/Red+Hat+Display');

body {
    margin: 0;
    height: 100vh;
    background-color: hsl(225, 94%, 94%);
    background-image: url('../images/pattern-background-desktop.svg');
    background-size: 100% 45vh;
    background-repeat: no-repeat;
    display: grid;
    font-family: 'Red Hat', sans-serif;
}
.card {
    place-self: center;
    height: 800px;
    width: 450px;
    text-align: center;
}
.card img {
    border-radius: 1.25rem 1.25rem 0 0;
    background-color: transparent;
}